body {
  font-family: Arial;
  text-align: center;
  background-color: #1e1e2f;
  color: white;
}

h1 {
  color: #00ffcc;
}

input {
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 8px;
  margin: 5px;
  background-color: #00ffcc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00ccaa;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #2a2a40;
}

th {
  background-color: #00ffcc;
  color: black;
}

td {
  border: 1px solid #555;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #33334d;
}

img {
  width: 60px;
}
