body {
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 8px;
  margin: 5px;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

img {
  width: 60px;
}
